<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite : Advanced Reporting">
	<parameter name="HeadlessFlag" value="yes" />
	<parameter name="Browser" value="chrome" />
	<listeners>
		<listener class-name="com.ar.utilities.Reporting" />
		<listener class-name="com.ar.utilities.MyTransformer" />
	</listeners>
	<test name="Test : Advanced Reporting">
		<classes>
			<class name="com.ar.testcases.ValidateAR" />
		</classes>
	</test>
</suite>